header{
    background-color: #dab0b05b;
    height: 98px;
}

.menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo{
    font-size: 64px;
    width: 55%;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 45%;
}

nav a {
    text-align: center;
    font-size: 32px;
}
